* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color :black;
}
.wrapper{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
    padding-top: 50px;
    height: 250px;
    width: 80vw; 
} @media all and (min-width: 1200px){
        .title{width: 50vw;}
    }
.h2{
    margin-top: 40px;
    margin-bottom:10px;

}
.error {
    color: red;
    font-family: fantasy;
    font-size: 18px;
}
.list{
   
    color: rgb(177, 177, 63);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    list-style-type: none;
}
li{ margin-top: 20px;
    margin-bottom:10px;
}
.input {
    color:  white;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 15px;
}
.btn {
    padding: 10px;
    background-color: yellow;    
    border-radius: 3px;
}
.hidden{
    display: none;
}